@import './sass_mixins';
%flex1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width:0;
}
.page,
#app {
    height: 100%;
    position: relative;
    background-color: #fff;
    overflow:hidden;
    .container{
        height:100%;
        overflow:auto;
    }
}
.page{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:5;
}
.page-fixed {
    .navbar {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        top: 0;
    }
    .container {
        padding-top: 64px;
    }
}

.cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #fff;
    &:active {
        background-color: #f5f5f5;
    }
}

// 书籍列表样式
.m-books-lists{
    margin: 0;
    padding: 10px;
    list-style: none;
    .cell{
        margin-bottom: 15px;
        &.hasNew{
            &:after{
                content: '';
                position: absolute;
                right: 5%;
                top: 50%;
                width: 8px;
                height: 8px;
                margin-top: -14px;
                border-radius: 50%;
                background-color: #29b6f6;
            }
        }
    }
    .leftimg{
        margin-right: 10px;
        overflow: hidden;
        img{
            border-radius: 4px;
        }
    }
    .rightctx{
        @extend %flex1;
        position: relative;
        @extend %one-px-border;
        h3{
            margin: 5px 0 10px;
            font-weight: normal;
            @include ellipsis(1);
        }
        >p{
            color: #666;
            @include ellipsis(1);
        }
    }
}

// 搜索栏样式
.m-search-input{
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position:relative;
    input{
        @extend %flex1;
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        padding: 10px 2em 10px 10px;
        color: #fff;
        height: 64px;
        // line-height: 64px;
        font-size: 16px;
        &::-webkit-input-placeholder{color:#f1f1f1;}
        &::-moz-input-placeholder{color:#f1f1f1;}
    }
    .icon-guanbi{
        position:absolute;
        top:50%;
        right:5%;
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%);
        color:rgba(#fff,.8);
        font-size:20px;
    }
    // 搜索结果
    .search-lists{
        position:absolute;
        left:0;
        right:0;
        top:100%;
        background:#fff;
        color:#333;
        box-shadow:0 3px 6px #666;
        max-height:250px;
        max-height: 50vh;
        overflow:auto;
        li{
            padding:10px;
            font-size:14px;
            &:active{
                background:#f5f5f5;
            }
        }
    }
}